<h1> <%= @recipe.title %> </h1>
<h3> Detalhes </h3>
<p> <%= @recipe.recipe_type.name %> </p>
<p> <%= @recipe.cuisine.name %> </p>
<p> <%= @recipe.difficulty %> </p>
<p> <%= @recipe.cook_time_min %> </p>
<h3> Ingredientes </h3>
<p> <%= @recipe.ingredients %> </p>
<h3> Como Preparar </h3>
<p> <%= @recipe.cook_method %> </p>
<p> Receita enviada por <%= @recipe.user.email %> </p>

<% if user_signed_in? %>
  <%= form_tag add_list_recipe_path do %>
    <%= label_tag :name, 'Lista' %>
    <%= select_tag :name, options_from_collection_for_select(@recipe_list, :id, :name) %>
    <%= submit_tag 'Adicionar' %>
  <% end %>
  <% if (current_user && current_user.is_owner?(@recipe)) || current_user.admin? %>
    <%= link_to 'Editar', edit_recipe_path %>
  <% end %>
<% end %>

<%= link_to 'Voltar', root_path %>
